* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-decoration: none;
}
body, html {
    margin: 0;
    padding: 0;
}
h1, p {
    margin: 15px;
}
header { 
    margin-bottom: 20px;
}
header h1 {
    margin-bottom: 5px;
}
.nav {
    padding: 10px 5px;
    background-color: #FFFAFA;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.navlinks {
    padding-left: 20px;
    text-align: left;
    display: block;
    flex-direction: row;
}
.nav a {
    color: #000;
    vertical-align: middle;
    max-height: max-content;
    max-width: max-content;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px;
    margin-right: 10px;
}
.menu {
    max-width: max-content;
    max-height: max-content;
    right: 20px;
    display: flex;
}
.menu a {
    display: block;
    text-align: right;
}
main {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    gap: 3%;
    flex-wrap: wrap;
}
.content {
    
    padding: 2%;
    width: 60%;
    background: #f0f0f0;
}
aside {
    width: 30%;
}
.side-block {
    margin: 0 auto;
    padding: 5%;
    background: #f0f0f0;
    margin-bottom: 20px;
}
.bridge-night {
    padding-bottom: 30px;
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
.bridge-day {
    max-width: 40%;
    min-width: 200px;
    float: left;
    padding: 10px;
}
.img {
    overflow: hidden;
    height: 150px;
    background: red;
}
button {
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    color: #fff;
}
@media screen and (min-width: 800px) {
    .content {
        max-width: 100%;
        margin: 0 auto;
    }
    aside {
        max-width: 100%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 480px) and (max-width: 800px) {
    .content {
        background: #f0f0f0;
    }
}
@media screen and (max-width: 800px) {
    .content {
        width: 100%;
    }
    aside {
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .side-block {
        width: 44%;
        padding: 2%;
    }
}
@media screen and (max-width: 480px) {
    .bridge-day {
        max-width: 100%;
    }
    .side-block {
        text-align: center;
        width: 96%;
        padding: 4%;
    }
}
@media screen and (max-width: 700px) {
    header h1 {
        font-size: 20px;
        text-align: center;
    }
    .navlinks {
        justify-content: space-around;
        text-align: left;
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
    }
    .menu a {
        margin-left: auto;
        text-align: right;
    }
}