* {
    color: #fff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #000;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
p {
    font-size: 16px;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
}
header { 
    margin-bottom: 20px;
}
.nav {
    padding: 10px 5px;
    background-color: #FFFAFA;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.navlinks {
    padding-left: 20px;
    text-align: left;
    display: flex;
    flex-direction: row;
}
.nav a {
    vertical-align: middle;
    max-height: max-content;
    max-width: max-content;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px;
    margin-right: 10px;
}
.menu {
    max-width: max-content;
    max-height: max-content;
    right: 20px;
    display: flex;
}
.menu a {
    text-align: right;
}
main {
    position: relative;
}
.back {
    color: #808080;
}
.login {
    margin-right: 10px;
}
.content {
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: #fff;
}
.line li {
    margin: 10px;
    padding: 15px 20px;
    list-style-type: none;
    color: #000;
    background-color: rgb(223, 109, 109);
    display: inline-block;
}
.links a{
    text-decoration: underline;
    font-weight: bold;
    padding: 10px 0;
    padding-left: 10px;
    color: #fff;
    width: 200px;
    margin-left: 20px;
    margin-bottom: 10px;
    display: block;
    background-color: blue;
}
.blocks {
    margin: 40px 0;
}
.blocks div{
    color: #000;
    margin-left: 20px;
    padding: 15px 20px;
    background-color: red;
    display: inline;
}
.blocks .non {
    display: none;
}
.links-markers {
    margin-left: 20px;
}
.links-markers a {
    text-decoration: underline;
    padding: 5px 10px;
    color: white;
    width: 150px;
    background-color: black;
    display: list-item;
}
.post1, .post2 {
    background-color: rgb(163, 0, 0);
}
.post1 .image {
    background-image: url(imgs/weather-sun.jpg);
    height: 80px;
    width: 114px;
    float: left;
    border: 2px dashed rgb(163, 0, 0);
}

.post2 .image {
    background-image: url(imgs/weather-sun.jpg);
    height: 80px;
    width: 114px;
    float: right;
    border: 2px dashed rgb(163, 0, 0);
}
.total {
    display: flex;
}
.total .mark {
    text-align: center;
    display: list-item;
    margin: 0 5px;
}
.total .mark .p1 {
    background-color: aqua;
    height: 25px;
    width: 50px;
}
footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
footer p {
    color: #fff;
}
@media screen and (max-width: 700px) {
    header h1 {
        font-size: 20px;
        text-align: center;
    }
    .navlinks {
        justify-content: space-around;
        text-align: left;
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
    }
    .menu a {
        margin-left: auto;
        text-align: right;
    }
    .back {
        padding-left: 10px;
    }
    footer {
        width: 100%;
        padding-bottom: 50px;
    }
}