* {
    box-sizing: border-box;
    color: #fff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    background-color: #000;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
p {
    font-size: 16px;
}
a {
    font-size: 16px;
}
header { 
    margin-bottom: 20px;
}
.nav {
    padding: 10px 5px;
    background-color: #FFFAFA;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.navlinks {
    padding-left: 20px;
    text-align: left;
    display: flex;
    flex-direction: row;
}
.nav a {
    vertical-align: middle;
    max-height: max-content;
    max-width: max-content;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px;
    margin-right: 10px;
}
.menu {
    max-width: max-content;
    max-height: max-content;
    right: 20px;
    display: flex;
}
.menu a {
    text-align: right;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.login {
    margin-right: 10px;
}
main {
    
    display: flex;
}
main p a {
    text-decoration: none;
    color: #808080;
}
.content article{
    text-align: center;
    background-color: #808080;
    max-width: 100%;
    width: 90%;
}
aside {
    padding-bottom: 10px;
    text-align: center;
    background-color: #fff;
}
aside h4{
    color: #000;
}
aside p a {
    color: #000;
}
aside p {
    padding-top: 20px;
    padding-bottom: 20px;
}
footer {
    padding-bottom: 100px;
    
    text-align: center;
    margin: 0 auto;
}
.footer_text {
    position: absolute;
    display: flex;
    justify-content: space-around;
    left: 0;
    bottom: 0;
    right: 0;
}
.footer_text p {
    padding-right: 20px;
}
.footer_img {
    width: 100%;
    max-width: 90px;
}
@media screen and (max-width: 700px) {
    header h1 {
        font-size: 20px;
        text-align: center;
    }
    .navlinks {
        justify-content: space-around;
        text-align: left;
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
    }
    .menu a {
        margin-left: auto;
        text-align: right;
    }
    .back {
        padding-left: 10px;
    }
    footer {
        padding-bottom: 175px;
    }
    footer h3 {
        margin: 15px auto;
        max-width: max-content;
    }
    footer img {
        display: block;
        margin: 0 auto;
    }
    .footer_text {
        justify-content: space-around;
        vertical-align: middle;
        display: flex;
        flex-direction: column;
    }
    .footer_text p {
        padding: 0;
    }
}