* {
    box-sizing: border-box;
    font-weight: 300;
    font-style: normal;
}
html, body {
    margin: 0;
    padding: 0;
}
main p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
}
.back {
    color: #808080;
}
section {
    padding-top: 35px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
article {
    width: 622px;
    color: white;
    padding: 72px 0 55px 67px;
    margin-bottom: 30px;
    border-radius: 10px;
}
article:nth-child(1) {
    background:linear-gradient(75.91deg, rgba(50, 34, 67, 0.8) 15.12%, rgba(50, 34, 67, 0) 95.53%), url(img/1.jpg);
    background-size: cover;
}
article:nth-child(2) {
    background:linear-gradient(75.91deg, rgba(50, 34, 67, 0.8) 15.12%, rgba(50, 34, 67, 0) 95.53%), url(img/2.jpg);
    background-size: cover;
}
article:nth-child(3) {
    background:linear-gradient(75.91deg, rgba(50, 34, 67, 0.8) 15.12%, rgba(50, 34, 67, 0) 95.53%), url(img/3.jpg);
    background-size: cover;
}
article:nth-child(4) {
    background:linear-gradient(75.91deg, rgba(50, 34, 67, 0.8) 15.12%, rgba(50, 34, 67, 0) 95.53%), url(img/4.jpg);
    background-size: cover;
}
article:nth-child(2n-1) {
    margin-right: 30px;
}
article h3, article button {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
}
article p {
    width: 310px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 11px 0 30px 0;
}
article h3 {
    font-size: 36px;
    line-height: 42px;
}
article .price {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
}
.price span {
    font-size: 48px;
    color: #df59ca;
    font-weight: bold;
}
article button {
    font-size: 18px;
    background: #f26689;
    border: 0;
    padding: 19px 38px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}
article button:hover {
    font-size: 18px;
    background: white;
    border: 0;
    padding: 19px 38px;
    border-radius: 3px;
    color: #f26689;
    cursor: pointer;
}
h3, p {
    margin: 0;
}