* {
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
}
article h1 {
    font-size: 40px;
}
p {
    font-size: 16px;
}
a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
header { 
    margin-bottom: 20px;
}
header h1 {
    font-size: 24px;
}
.nav {
    padding: 10px 5px;
    background-color: #dfd0d0;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.navlinks {
    padding-left: 20px;
    text-align: left;
    display: flex;
    flex-direction: row;
}
.nav a {
    vertical-align: middle;
    max-height: max-content;
    max-width: max-content;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px;
    margin-right: 10px;
}
.menu {
    max-width: max-content;
    max-height: max-content;
    right: 20px;
    display: flex;
}
.menu a {
    text-align: right;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.link_back {
    margin-bottom: 100px;
}
.back{
    padding-left: 10px;
    color: #808080;   
}
section {
    width: 66%;
    margin: 0 auto;
}
article {
    vertical-align: top;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    margin-bottom: 50px;
}
article h1 {
    margin: 0;
    vertical-align: top;
    font-weight: 300;
    font-style: normal;
    font-size: 35px;
    line-height: 47.66px;
    width: 20%;
}
.article_img {
    height: 250px;
    width: 300px;
}
.text_section {
    width: 30%;
}
.text_section p {
    align-self: stretch; 
    margin-bottom: 20px;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 19.07px;
    
    text-align: justify;
}
.num {
    color: #fff;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    margin: 0;
    line-height: 108.95px;
}
.text {
    color: #fff;
    margin: 0;
    text-align: center;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 27.24px;
}
.footer_img {
    background-image: url(img/3.jpg);
}
.otst {
    margin: 0 auto;
    padding: 100px 150px;
    display: flex;
    width: 75%;
    justify-content: space-around;
}
.all_footer_text {
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 700px) {
    header h1 {
        font-size: 20px;
        text-align: center;
    }
    .navlinks {
        justify-content: space-around;
        text-align: left;
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
    }
    .menu a {
        margin-left: auto;
        text-align: right;
    }
    section {
        width: 100%;
        margin: 0 auto;
    }
    article {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 50px;
    }
    article h1 {
        width: 100%;
        display: block;
        text-align: center;
    }
    article img {
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    .text_section {
        width: 100%;
        
    }
    .text_section p {
        text-align: center;
    }
    .otst {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
        padding: 100px 50px;
    }
    .otst .all_footer_text {
        display: flex;
        width: 100%;
    }
    .num {
        margin: 0 auto;
        display: block;
        font-size: 60px;
        
    }
    .text {
        margin: 0 auto;
        display: block;
        font-size: 16px;
    }
}