* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    
}
html, body {
    margin: 0;
    padding: 0;
}
header { 
    margin-bottom: 20px;
}
header h1 {
    margin-bottom: 5px;
}
.nav {
    padding: 10px 5px;
    background-color: #FFFAFA;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.navlinks {
    padding-left: 20px;
    text-align: left;
    display: flex;
    flex-direction: row;
}
.nav a {
    color: #000;
    vertical-align: middle;
    max-height: max-content;
    max-width: max-content;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px;
    margin-right: 10px;
}
.menu {
    max-width: max-content;
    max-height: max-content;
    right: 20px;
    display: flex;
}
.menu a {
    display: block;
    text-align: right;
}
main {
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

p {
    font-size: 16px;
    flex-wrap: wrap;
}
p span {
    color: #6b6b6b;
}
section {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}
.content {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
}
.product {
    margin: 10px;
    padding: 30px;
    width: 21.25%;
    gap: 2%;
    position: relative;
}
.content .image, .content .prices, .content p, .content button {
    margin: 5px 0;
}
.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8 {
    background-color: grey;
    width: 300px;
    height: 300px;
    position: relative;
    margin-bottom: 10px;
    padding: 15px 0;
}
.img1 {
    margin: 0 auto;
    background-size: cover;
    background-image: url(img/1.jpg);
}
.img2 {
    margin: 0 auto;
    background-size: cover;
    background-image: url(img/2.jpg);
}
.img3 {
    margin: 0 auto;
    background-size: cover;
    background-image: url(img/3.jpg);
}
.img4 {
    margin: 0 auto;
    background-size: cover;
    background-image: url(img/4.jpg);
}
.img5 {
    margin: 0 auto;
    background-size: cover;
    background-image: url(img/5.jpg);
}
.img6 {
    margin: 0 auto;
    background-size: cover;
    background-image: url(img/6.jpg);
}
.img7 {
    margin: 0 auto;
    background-size: cover;
    background-image: url(img/7.png);
}
.img8 {
    margin: 0 auto;
    background-size: cover;
    background-image: url(img/8.jpg);
}
.category {
    display: block;
    float: left;
    color: #fff;
}
.image {
    padding: 20px;
    margin: 0 auto;
    border: solid 1px #d3d3d3;
    border-radius: 10px;
}
.hits {
    width: max-content;
    border-radius: 10px;
    background: linear-gradient(90deg, #d8d8d8, rgb(47, 200, 238));
    padding: 10px;
}
.price {
    width: max-content;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    margin-left: 10px;
    background: linear-gradient(-90deg, #d8d8d8, #ff3a3a);
    padding: 10px;
}
.sale {
    display: block;
    float: left;
    position: absolute;
    bottom: 10px;
    margin: 0 0 10px 10px;
    color: #fff;
}
.sprice {
    width: max-content;
    padding: 5px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: red;
}
.prices {
    vertical-align: middle;
    display: flex;
    gap: 5px;
}
.price11 {
    border-radius: 10px;
    text-align: center;
    color: #000;
    width: max-content;
    padding: 10px;
    vertical-align: middle;
}
.price1 {
    border-radius: 10px;
    background: linear-gradient(90deg, #ff6262, #ff0080);
    text-align: center;
    color: #fff;
    width: max-content;
    padding: 10px;
    vertical-align: middle;
}
.price2 {
    padding: 10px;
    vertical-align: middle;
    text-decoration: line-through;
    color: grey;
}
button {
    border-radius: 10px;
    border: 0;
    background-color: blue;
    padding: 10px;
    color: #fff;
    width: max-content;
}
button a {
    color: #fff;
}
.date {
    position: absolute;
    bottom: 5px;
}
footer {
    margin-bottom: 10px;
    margin-left: 10px;
}
@media screen and (max-width: 700px) {
    header h1 {
        font-size: 20px;
        text-align: center;
    }
    .navlinks {
        justify-content: space-around;
        text-align: left;
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
    }
    .menu a {
        margin-left: auto;
        text-align: right;
    }
    section {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
    }
    section .product {
        width: 48%;
        height: 100%;
        margin: 0;
        padding: 0;
        position: relative;
    }
    section .product .content {
        position: relative;
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;
    }
    .product .content .image {
        width: 100%;
        height: 100%;
    }
    .img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8 {
        background-color: grey;
        position: relative;
        width: 200px;
        height: 200px;
        margin-bottom: 10px;
        padding: 15px 0;
    }
    .content .image, .content .prices, .content p, .content button {
        margin: 5px 0;
    }
    .category {
        display: block;
        float: left;
        color: #fff;
    }
    .image {
        padding: 10px;
        margin: 0 auto;
        border: solid 1px #d3d3d3;
        border-radius: 10px;
    }
    .hits {
        width: max-content;
        border-radius: 10px;
        background: linear-gradient(90deg, #d8d8d8, rgb(47, 200, 238));
        padding: 10px;
    }
    .price {
        width: max-content;
        text-align: center;
        color: #fff;
        border-radius: 10px;
        margin-left: 0;
        background: linear-gradient(-90deg, #d8d8d8, #ff3a3a);
        
    }
    .sale {
        display: block;
        float: left;
        position: absolute;
        bottom: 10px;
        margin: 0;
        color: #fff;
    }
    .sprice {
        width: max-content;
        padding: 5px;
        text-align: center;
        color: #fff;
        border-radius: 10px;
        background-color: red;
    }
    .prices {
        vertical-align: middle;
        display: flex;
        gap: 5px;
    }
    .price11 {
        border-radius: 10px;
        text-align: center;
        color: #000;
        width: max-content;
        padding: 10px;
        vertical-align: middle;
    }
    .price1 {
        border-radius: 10px;
        background: linear-gradient(90deg, #ff6262, #ff0080);
        text-align: center;
        color: #fff;
        width: max-content;
        padding: 10px;
        vertical-align: middle;
    }
    .price2 {
        padding: 10px;
        vertical-align: middle;
        text-decoration: line-through;
        color: grey;
    }
    button {
        padding-bottom: 50px;
        border-radius: 10px;
        border: 0;
        background-color: blue;
        padding: 10px;
        color: #fff;
        width: max-content;
    }
    button a {
        color: #fff;
    }
    .date {
        position: relative;
        bottom: 5px;
    }
}