* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-decoration: none;
}
body, html {
    background-color: #000;
    margin: 0;
    padding: 0;
}
h1, p {
    margin: 15px;
}
header { 
    margin-bottom: 20px;
}
header h1 {
    color: #fff;
    margin-left: 0px;
    font-size: 24px;
}
.nav {
    padding: 10px 5px;
    background-color: #ffffff;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.navlinks {
    padding-left: 20px;
    text-align: left;
    display: flex;
    flex-direction: row;
}
.nav a {
    color: #000;
    vertical-align: middle;
    max-height: max-content;
    max-width: max-content;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px;
    margin-right: 10px;
}
.menu {
    max-width: max-content;
    max-height: max-content;
    right: 20px;
    display: flex;
}
.menu a {
    display: block;
    text-align: right;
}
main {
    position: relative;
    width: 100%;
}
main ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
main ul li {
    text-align: center;
    line-height: 100px;
    font-size: 24px;
    list-style-type: none;
    color: #fff;
}
main ul li a {
    border: 1px solid #fff;
    padding: 20px;
    color: #fff;
}
main ul li a:hover {
    border: 1px solid #000000;
    background-color: #fff;
    color: #000000;
}
footer {
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}